.container-fluid{
    width: 100%;
}
.left-bav{
    margin-top: 80px;
background: rgb(46, 84, 105);
position: fixed;
height: 100vh;
float: left;
width: 20%;
}
.left-bav ul{
   padding: 0px;
    }
.left-bav li{
    list-style: none;
    text-align: left;
    padding: 15px;
}
.left-bav li a{
   text-decoration: none;
   font-weight: bold;
   color: rgb(228, 241, 237);
}
.left-bav li:hover{
    background: #0acd;
}
.left-bav li:hover .isAction, a{
    color:#fff;
}
.left-bav li:hover a{
    color:#fff;
   
}
.isAction{
    color: rgb(247, 248, 248);
}
.right-bav{
    padding: 10px;
    background: #fff;
    float: right;
    width: 80%;
    margin-top: 80px;
}
.right-bav table a{
    text-decoration: none;
    color:#000;
}
.right-bav h3 {
    color: #000!important;
}
.content-post{
    text-align: left;
}
.Item-role{
    width: 25%;
}
.right-bav h2{
    color: rgb(100, 107, 110)!important;
    font-size: 30px!important;
    font-weight: bold;
}
.right-bav h3{
    color: rgb(100, 107, 110)!important;
    font-size: 20px!important;
    font-weight: bold;
}
.Item-role ul li{
    list-style: none;
    margin: 10px;
    text-align: left;
    border: 1px #C0C0C0 solid;
    border-radius: 2px;
}
.btn-role{
    padding: 15px;
    background: none;
}
.active{
    background: #2D86B6;
}
.Item-permission{
    margin-left: 20px;
    width: 72%;
    text-align: left;
}
.Item-permission ul li{
    list-style: none;
    border-bottom: 1px #C0C0C0 solid;
    margin: 20px;
}
.Item-permission ul li span{
    margin-left: 10px;
    font-size: 20px;
}
.Item-permission ul li input{
    border: 1px green solid;
    background: #fff;
}
.add_Role {
    text-align: left;
}
.btn-add-role{
    font-weight: bold;
    margin-top: 10px;
}
.btLogin{
    float: right;
}
.user_info ul li{
    list-style: none;
    text-align: left;
}
.lable-input{
    text-align: left;
}
.nav-head-admin{
    background: #2D86B6;
    line-height: 80px;
    height: 80px;
    position: fixed;
    z-index: 100;
    /* margin-bottom: 50px; */
}
