.detail-event{
    margin-top: 30px;
    text-align: left;
}
.detail-event h3{
   color: blueviolet;
}
.register-event{
    color: yellow;
    background: green;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
}
.content-event{
    margin-top: 30px;
}
.content-event img {
    margin: 10px;
    border: 1px #C0C0C0 solid;
    /* float: left; */
}
.slide-img{
    margin-left: 30px;
    margin-bottom: 20px;
}
.slide{
    height: 500px;
}