
.wrapper{
    margin-top: 100px;
}
.Item-box{
    text-align: left;
    /* padding: 0px; */
}

.Item-box .Item-post h3{
    color: #2D86B6;
    font-size: 24px;
}
.Item-post{
    padding: 10px;
    border: 1px #C0C0C0 solid;
    margin-bottom: 30px;
} 
.Item-detail{
    font-size: 12px;
}
.Item-detail .avata{
    border-radius: 50%;
}