
.frLogin {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px seashell solid;
  background-color: #000;
  opacity: 0.7;
  filter: alpha(opacity=50);
  height: 400px;
  width: 600px;

  color: #fff;
  border-radius: 10px;
}

.form-input {

  background: #fff;
  opacity: 1;
  border-radius: 5px;
  padding-left: 5px;
  margin-left: 10px!important;
}

.form-input {
  line-height: 30px;
}

.btLogin {
  height: 38px;
  width: 160px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://resolve.org/wp-content/uploads/2017/06/Our-Blog_banner_1700x870.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-color: #f7e3f9;
  height: 100vh;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.inputUserName {
  margin-right: 10px;
}
