h2{
    color:#2D86B6!important;
    text-align: left;
    font-size: 25px!important;
}
h3{
    color:rgb(219, 122, 122)!important;
    text-align: left;
    margin-left: 10px;
    font-size: 20px!important;
}
.stt{
    text-align: left;
    color: #000!important;
    font-size: 17px;
}