.box_event{
    border: 1px #C0C0C0 solid;
    padding: 10px 30px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    text-align: left;
    position: relative;
}

.title{
    margin-bottom: 10px;
}
.title h3{

    color: #2D86B6;
    font-weight: bold;
    font-size: 25px;
}
.box_event span{
    color: rgb(82, 78, 78);
    font-size: 14px;

}
.box_event .img_event{
    border: 1px #C0C0C0 solid;
    width: 100%;

}
.box_event p{
    text-align: left;
    font-size: 15px;
}
.box_event .content{
    
    margin-top: 10px;
}
.continue_read{
    position:absolute;
    bottom:10px;
    right:10px;
    background: #2D86B6;
    padding: 10px;
}
.continue_read a{
    color: #fff;
    text-decoration: none;
   
}
.continue_read a:hover{
    color: #fff;
    text-decoration: none;
   
}

