
.headerBrand {
text-align: left;
color: #fff;
font-size: 50px;
}

.nav-head {
    background-color:#2D86B6;
    line-height: 80px;
    height: 80px;
}
.headerAvatar a{
    color: #fff;
    text-decoration: none;
    
}
.headerAvatar a:hover{
    color: #000;
    text-decoration: none;
    
}
.headerAvatar a img{
    margin-right:5px; 
    
}

button{
    background:#2D86B6;
    border: none;
    /* width: 100%; */
    margin: 0px;
    padding: 0px;
}
.btn-login, .btn-thongbao{
    width: 100%;
    color: #fff;
}
.logoutButton:hover button{
    background-color:#C0C0C0;
    
}
.blankrow{
    text-align: left;
    margin-top:65px;
}
.blankrow ul li{
    list-style-type: none;
    display: inline;
    margin-right: 3px;
    background-color: #2D86B6;
}
.blankrow ul {
    margin-left: -55px!important;
}
.blankrow ul li:hover a{
   color: #2D86B6;
    
}
.form-group input{
    line-height: 40px;
    position: relative;
}
.form-group img{
    position: absolute;
    top:0px;
    right: 12px;
    border-left: 1px #C0C0C0 solid;
    
}
.img_thongbao{
    position: relative;
}
.thongbao{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 18px;
    left: 77px;
    background: red;
    padding: 1px;
    line-height: 20px;
}
.avata{
    border-radius: 50%;
}
.button-header{
    line-height: 55px;
    width: 95px;
    color: #fff;
}
.btn-thongbao{
    position: relative;
}
.list_thongbao ul{
    border: 1px #C0C0C0 solid;
    text-align: left;
    padding: 0px;
    background: #fff;
    position: absolute;
    top: 80px;
    right:120px;
    z-index: 10;
}
.list_thongbao ul li{
   line-height: 70px;
    list-style: none;
    padding: 0px 40px;
    border-bottom: 1px #C0C0C0 solid; 
}
.list_thongbao ul li:hover{
   background: #C0C0C0;

 }
.list_thongbao ul li a{
   text-decoration: none;
   color: rgb(99, 90, 90);
}

