.box-answer{
    margin-top: 20px;
    border: 1px #C0C0C0 solid;

}
.answer{
    padding-left: 25px;
    text-align: left;
    color: rgb(5, 143, 185);
    font-size: 20px;

}
.edit{
    float: right;
    margin: 0px 5px;
}

.answer a{
    line-height: 50px;
    color: rgb(5, 143, 185);
}
.detail_question{
    z-index: 1;
    text-align: right;
    

}
.detail_question a, span{
    margin-right: 35px;
    color: rgb(141, 132, 132);
}
.add a{
    color: #fff;
    text-decoration: none;
}
.add{
    background: #2D86B6;
    padding: 15px;
    margin:20px 0px;
}
.avata{
    border-radius: 50%;
}
.ip-update{
    margin: 4px;
    position: relative;
}.btn-update{
    position: absolute;
    top:4px;
    right: 4px;
}